<div class="row mx-0 my-4">
  <div id="{{post.title}}" class="col-sm-8">
    <h5><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h5>
    {% if post.description %}
    <p class="post-description">{{ post.description }}</p>
    {% endif %}
    <div class="post-meta">
      {% if post.date %}
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
      {% endif %}
      {% if post.author %}
      <span class="post-author">by {{ post.author }}</span>
      {% endif %}
    </div>

    <div class="links">
      <a href="{{ post.url | relative_url }}" class="btn">Read More</a>
      {% if post.external_url %}
      <a href="{{ post.external_url }}" class="btn" target="_blank">External Link</a>
      {% endif %}
    </div>
  </div>
</div>

